* {
margin: 0;
padding: 0;
}

body {
background-color: #548687;
text-align: center;
}

.container {
height: 70vh;
display: flex;
justify-content: center;
align-items: center;
}

.game {
height: 60vmin;
width: 60vmin;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 1.5vmin;
position: relative;
}

.box {
height: 18vmin;
width: 18vmin;
border-radius: 1rem;
border: none;
box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
font-size: 8vmin;
font-weight: bold;
background-color: #ffffc7;
cursor: pointer;
}

/* O colour */
.box.o {
color: #e63946;
}


.box.x {
color: #2563eb;
}


.winning-line {
position: absolute;
height: 5px;
background-color: #191913;
border-radius: 5px;
transform-origin: left center;
transform: scaleX(0);
z-index: 10;
transition: transform 0.5s ease;
}

/* Line positions */
.line-row-1 {
width: 100%;
top: 16.5%;
left: 0;
}

.line-row-2 {
width: 100%;
top: 50%;
left: 0;
}

.line-row-3 {
width: 100%;
top: 83.5%;
left: 0;
}

.line-col-1 {
width: 100%;
top: 50%;
left: -33.5%;
transform: rotate(90deg) scaleX(0);
}

.line-col-2 {
width: 100%;
top: 50%;
left: 0;
transform: rotate(90deg) scaleX(0);
}

.line-col-3 {
width: 100%;
top: 50%;
left: 33.5%;
transform: rotate(90deg) scaleX(0);
}

.line-diagonal-1 {
width: 141%;
top: 0;
left: 0;
transform: rotate(45deg) scaleX(0);
}

.line-diagonal-2 {
width: 141%;
top: 0;
left: 100%;
transform: rotate(135deg) scaleX(0);
}

.winning-line.show {
transform: scaleX(1);
}

.line-col-1.show {
transform: rotate(90deg) scaleX(1);
}

.line-col-2.show {
transform: rotate(90deg) scaleX(1);
}

.line-col-3.show {
transform: rotate(90deg) scaleX(1);
}

.line-diagonal-1.show {
transform: rotate(45deg) scaleX(1);
}

.line-diagonal-2.show {
transform: rotate(135deg) scaleX(1);
}

#reset-btn {
padding: 1rem;
font-size: 1.25rem;
background-color: #191913;
color: #fff;
border-radius: 1rem;
border: none;
cursor: pointer;
}

#new-btn {
padding: 1rem;
font-size: 1.25rem;
background-color: #191913;
color: #fff;
border-radius: 1rem;
border: none;
cursor: pointer;
}

#msg {
color: #ffffc7;
font-size: 5vmin;
}

.msg-container {
height: 100vmin;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 4rem;
}

.hide {
display: none;
}